# Hexo Configuration
## Docs: http://hexo.io/docs/configuration.html
## Source: https://github.com/hexojs/hexo/

# Site
title: 后端云
#subtitle: 云计算技术的分享和交流平台
subtitle: 个人博客
description: Openstack linux kernel NFV OPNFV MANO OPEN-O 虚拟机 容器 裸机 微服务 lambda计算 kubernetes 异构计算 人工智能
author: 后端云
language: zh-Hans
timezone:

## duo shuo
#duoshuo_shortname: pyartist
#jiathis: true

# URL
## If your site is put in a subdirectory, set url as 'http://yoursite.com/child' and root as '/child/'
url: https://www.backendcloud.cn
root: /
permalink: :year/:month/:day/:title/
permalink_defaults:

# Directory
source_dir: source
public_dir: public
tag_dir: tags
archive_dir: archives
category_dir: categories
code_dir: downloads/code
i18n_dir: :lang
skip_render:

# Writing
new_post_name: :title.md # File name of new posts
default_layout: post
titlecase: false # Transform title into titlecase
external_link: true # Open external links in new tab
filename_case: 0
render_drafts: false
post_asset_folder: false
relative_link: false
future: true
highlight:
  enable: true
  line_number: false
  auto_detect: true
  tab_replace:

# Category & Tag
default_category: uncategorized
category_map:
tag_map:

# Date / Time format
## Hexo uses Moment.js to parse and display date
## You can customize the date format as defined in
## http://momentjs.com/docs/#/displaying/format/
date_format: YYYY-MM-DD
time_format: HH:mm:ss

# Pagination
## Set per_page to 0 to disable pagination
per_page: 5
pagination_dir: page

archive_generator:
  per_page: 15  #值为0表示不分页，按需填写
  yearly: true  #是否按年生成归档
  monthly: false  #为了加快生成速度，按月归档就不要了

tag_generator:
  per_page: 15  #值为0表示不分页，按需填写
category_generator:
  per_page: 15  #值为0表示不分页，按需填写

# since
since: 2017

# Extensions
## Plugins: http://hexo.io/plugins/
## Themes: http://hexo.io/themes/
# theme: hexo-theme-next-master
theme: hexo-theme-next-5.1.0
# theme: hexo-theme-next-master

# baidu analytics
baidu_analytics: 2858b2d509d28416712739c9a6a31204

# google_analytics: UA-90951221-1


# Deployment
## Docs: http://hexo.io/docs/deployment.html
deploy:
  type: rsync
  host: 120.26.200.226
  user: root
  root: /usr/share/nginx/html/backendcloud/www
  port: 22
  delete: true
  verbose: true
  ignore_errors: false
